:root {
  --font-family-sans-serif: "Poppins", sans-serif;
  --timeline-on-surface-variant: 238, 238, 238;
  --timeline-on-surface: 0, 0, 0;
  --timeline-line-size-base: 50%;
  --timeline-line-size-offset: 0px;
  --timeline-line-inset: 0px;
  --timeline-line-thickness: 2px;
  --timeline-color-grey: #9e9e9e;
  --timeline-border-color: 0, 0, 0;
  --timeline-border-opacity: 0.12;
}
