$BASE_COLOR: #fff;
$ERROR: #e9665c;
$SUCCESS: #7e9f5a;
$WARNING: #e0792e;
$BASE_BACKGROUND: #151515;
$SECOND_BACKGROUND: #7e9f5a;
$NAV_BACKGROUND: #353942;
$TABLE_BACKGROUND: #0e0e0e;

$MAIN_FONT: 'Roboto Condensed', sans-serif;
$BOLD_FONT: 'Impact';
$TITLE: #fff;
$LIGHT_FONT: #fff;
$DARK_FONT: #000;
$SUB_TITLE: #8dbcb4;
$HIGHLIGHT_TEXT: #7e9f5a;

$BASE_PADDING: 20px;
