#login {
    height: 100%;
    overflow: hidden;

    .v-container {
        height: 100%;
        padding: 0;

        .v-row {
            height: 100%;
        }

        .right-panel {
            background-image: url('@/assets/img/auth/right-panel.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}
